-
  const footerAccordion = [
    {
      isOnline: 'false',
      title: 'київ',
      href: '#',
      adress: 'вул. Жилянська, 68',
      telephone: '+38 067 40 08 847',
      email: 'info@w8shipping.ua',
    },
    {
      isOnline: 'false',
      title: 'Дніпро',
      href: '#',
      adress: 'вул. Козакова, 2-Д',
      telephone: '+38 067 40 08 875',
      email: 'info@w8shipping.ua',
    },
    {
      isOnline: 'false',
      title: 'Одеса',
      href: '#',
      adress: 'вул. Академіка Філат..',
      telephone: '+38 067 40 08 531',
      email: 'info@w8shipping.ua',
    },
    {
      isOnline: 'true',
      title: 'Харків',
      href: '#',
      adress: 'Гімназійна набережн..',
      telephone: '+38 067 44 48 827',
      email: 'info@w8shipping.ua',
    },
    {
      isOnline: 'false',
      title: 'Львів',
      href: '#',
      adress: 'вул. Андрія Сахаров...',
      telephone: '+38 067 44 48 812',
      email: 'info@w8shipping.ua',
    },
  ];

  const socialsFooter1 = [
    {
      href: '#',
      label: `
        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.8842 7.3466C10.5953 7.30404 10.3007 7.3629 10.0494 7.51338H10.0277C9.44468 7.85953 8.91922 8.29536 8.4715 8.80829C8.09839 9.24412 7.8963 9.68467 7.84344 10.1095C7.81235 10.3612 7.83411 10.6161 7.90718 10.8569L7.93516 10.8726C8.3549 12.1203 8.90212 13.3208 9.5706 14.4505C10.4325 16.0372 11.4933 17.5048 12.7264 18.8167L12.7637 18.8702L12.8228 18.9142L12.8586 18.9567L12.9021 18.9945C14.2029 20.2463 15.6563 21.325 17.227 22.2042C19.0226 23.1939 20.1123 23.6612 20.7668 23.8563V23.8657C20.958 23.9255 21.1321 23.9522 21.3078 23.9522C21.8652 23.9106 22.3928 23.6812 22.8065 23.3009C23.3117 22.8477 23.7392 22.3143 24.0719 21.7212V21.7102C24.3844 21.1123 24.2787 20.549 23.8278 20.1667C22.9223 19.3658 21.9431 18.6546 20.9036 18.0426C20.2072 17.6602 19.4998 17.8915 19.2138 18.2786L18.6028 19.059C18.2888 19.446 17.7198 19.3925 17.7198 19.3925L17.7043 19.402C13.4587 18.3053 12.3253 13.9549 12.3253 13.9549C12.3253 13.9549 12.2725 13.3633 12.6658 13.0612L13.4307 12.4381C13.7976 12.136 14.0525 11.4217 13.6592 10.7168C13.0585 9.66384 12.3571 8.67309 11.5651 7.75883C11.3924 7.54366 11.1502 7.39712 10.8811 7.34503L10.8842 7.3466ZM18.0587 5.45537C17.8526 5.45537 17.6548 5.53826 17.5091 5.68579C17.3633 5.83333 17.2814 6.03343 17.2814 6.24207C17.2814 6.45072 17.3633 6.65082 17.5091 6.79835C17.6548 6.94589 17.8526 7.02877 18.0587 7.02877C20.0237 7.02877 21.656 7.67859 22.9479 8.92472C23.6117 9.606 24.1294 10.4132 24.4683 11.2974C24.8088 12.1832 24.9642 13.1288 24.9238 14.076C24.9152 14.2847 24.9887 14.4883 25.1284 14.642C25.268 14.7957 25.4623 14.887 25.6685 14.8958C25.8746 14.9045 26.0758 14.83 26.2277 14.6887C26.3796 14.5474 26.4698 14.3508 26.4784 14.1421C26.5266 12.977 26.3355 11.8144 25.9172 10.7278C25.4971 9.63611 24.86 8.64327 24.0455 7.81075L24.0299 7.79502C22.4271 6.24522 20.3999 5.45537 18.0587 5.45537Z" fill="currentColor"/>
          <path d="M18.0043 8.04204C17.7981 8.04204 17.6004 8.12493 17.4547 8.27246C17.3089 8.42 17.227 8.6201 17.227 8.82874C17.227 9.03739 17.3089 9.23749 17.4547 9.38502C17.6004 9.53256 17.7981 9.61544 18.0043 9.61544H18.0307C19.4485 9.71771 20.4808 10.196 21.2037 10.9812C21.9452 11.7899 22.3292 12.7953 22.2997 14.0383C22.2949 14.2469 22.3723 14.4489 22.5147 14.5998C22.6571 14.7508 22.8529 14.8383 23.0591 14.8431C23.2652 14.8479 23.4648 14.7696 23.6139 14.6254C23.7631 14.4813 23.8495 14.2831 23.8543 14.0745C23.8916 12.4428 23.3723 11.0346 22.3432 9.91124V9.90809C21.2907 8.76581 19.8465 8.16162 18.1085 8.04362L18.082 8.04047L18.0043 8.04204Z" fill="currentColor"/>
          <path d="M17.9748 10.6775C17.8707 10.6682 17.7659 10.6802 17.6666 10.7128C17.5673 10.7454 17.4754 10.798 17.3966 10.8673C17.3178 10.9366 17.2536 11.0213 17.2078 11.1163C17.162 11.2113 17.1356 11.3147 17.1302 11.4202C17.1248 11.5258 17.1404 11.6313 17.1762 11.7306C17.2119 11.8299 17.2671 11.9209 17.3384 11.9981C17.4097 12.0754 17.4956 12.1373 17.5911 12.1802C17.6865 12.2231 17.7895 12.246 17.8939 12.2477C18.5437 12.2824 18.9588 12.4806 19.22 12.7465C19.4827 13.014 19.6786 13.4435 19.7144 14.1154C19.7163 14.2209 19.7392 14.325 19.7817 14.4215C19.8243 14.5179 19.8856 14.6046 19.9619 14.6766C20.0383 14.7485 20.1282 14.8042 20.2263 14.8402C20.3243 14.8762 20.4286 14.8919 20.5327 14.8863C20.6369 14.8807 20.7389 14.854 20.8327 14.8076C20.9264 14.7613 21.01 14.6963 21.0784 14.6166C21.1468 14.5368 21.1987 14.444 21.2309 14.3436C21.2631 14.2431 21.275 14.1372 21.2658 14.032C21.2161 13.0879 20.9238 12.254 20.3253 11.6404C19.7237 11.0268 18.9044 10.7278 17.9748 10.6775Z" fill="currentColor"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.48821 1.33936C14.435 0.220212 19.565 0.220212 24.5118 1.33936L25.0389 1.45737C26.4849 1.78456 27.8131 2.51112 28.8757 3.55632C29.9383 4.60152 30.6938 5.92443 31.0583 7.37807C32.3139 12.386 32.3139 17.6321 31.0583 22.64C30.6938 24.0937 29.9383 25.4166 28.8757 26.4618C27.8131 27.507 26.4849 28.2335 25.0389 28.5607L24.5103 28.6787C21.412 29.38 18.2328 29.6442 15.063 29.4639L10.9386 33.1991C10.7832 33.34 10.5931 33.4361 10.3885 33.4773C10.1838 33.5185 9.97189 33.5034 9.77495 33.4335C9.57801 33.3635 9.40322 33.2414 9.26883 33.0798C9.13445 32.9182 9.04538 32.723 9.01094 32.5147L8.32848 28.3892C7.01979 27.9771 5.8374 27.2322 4.89432 26.2256C3.95124 25.2191 3.27898 23.9845 2.94179 22.64C1.68607 17.6321 1.68607 12.386 2.94179 7.37807C3.30622 5.92443 4.06172 4.60152 5.12435 3.55632C6.18697 2.51112 7.51511 1.78456 8.9612 1.45737L9.48821 1.33936ZM24.0035 3.64125C19.3914 2.59778 14.6086 2.59778 9.99656 3.64125L9.468 3.76082C8.44308 3.99315 7.50184 4.50843 6.74881 5.24947C5.99577 5.9905 5.46041 6.92827 5.20218 7.95865C4.042 12.5856 4.042 17.4325 5.20218 22.0594C5.46054 23.09 5.99613 24.0279 6.74946 24.769C7.50278 25.51 8.44435 26.0252 9.46955 26.2573L9.60946 26.2887C9.8358 26.34 10.0419 26.4584 10.2014 26.6288C10.3609 26.7992 10.4666 27.0139 10.5049 27.2454L10.962 30.0114L13.8722 27.376C13.9884 27.2704 14.1244 27.1896 14.272 27.1382C14.4197 27.0868 14.5761 27.066 14.7319 27.077C17.8396 27.3001 20.9629 27.0643 24.0035 26.3769L24.5305 26.2573C25.5557 26.0252 26.4973 25.51 27.2506 24.769C28.0039 24.0279 28.5395 23.09 28.7979 22.0594C29.9576 17.4337 29.9576 12.586 28.7979 7.95865C28.5395 6.92807 28.0039 5.99016 27.2506 5.24911C26.4973 4.50806 25.5557 3.99289 24.5305 3.76082L24.0035 3.64125Z" fill="currentColor"/>
        </svg>
      `,
    },
    {
      href: '#',
      label: `
        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="17" cy="17" r="15" stroke="currentColor" stroke-width="2"/>
          <path d="M23.1366 10.0001C23.267 9.99755 23.5553 10.03 23.7432 10.1816C23.868 10.2893 23.9476 10.4397 23.9662 10.6029C23.9871 10.7235 24.0132 10.9996 23.9923 11.2148C23.7575 13.6753 22.7374 19.6436 22.2182 22.3984C21.9991 23.5651 21.5673 23.9553 21.1486 23.9929C20.2407 24.0771 19.5506 23.3966 18.6701 22.8236C17.2925 21.9252 16.5138 21.3665 15.1767 20.4902C13.6309 19.479 14.6327 18.9216 15.5132 18.0141C15.7441 17.7756 19.7489 14.1549 19.8271 13.8269C19.8363 13.7855 19.8454 13.6325 19.7541 13.5521C19.6628 13.4717 19.5271 13.499 19.4293 13.521C19.291 13.5521 17.0903 14.9988 12.8273 17.8573C12.2012 18.2851 11.6363 18.4925 11.1289 18.4795C10.5706 18.4692 9.49567 18.1671 8.69603 17.9091C7.71506 17.5915 6.93629 17.4243 7.00412 16.8863C7.03934 16.6063 7.42807 16.3198 8.16902 16.0268C12.7321 14.0512 15.7741 12.7484 17.2978 12.1197C21.6443 10.3229 22.5483 10.0105 23.1366 10.0001Z" fill="currentColor"/>
        </svg>
      `,
    },
    {
      href: '#',
      label: `
        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.2224 28.561C11.1664 28.145 12.2224 28.0666 13.2112 28.3386C14.4432 28.6746 15.7152 28.8442 17 28.841C24.336 28.841 29.8 23.5816 29.8 16.5206C29.8 9.45951 24.336 4.20012 17 4.20012C9.664 4.20012 4.2 9.45951 4.2 16.5206C4.2 20.1527 5.6336 23.356 8.1456 25.6025C8.60201 26.0068 8.9711 26.5 9.23026 27.0519C9.48942 27.6038 9.6332 28.2028 9.6528 28.8122L10.2224 28.561ZM17 1C26.0128 1 33 7.60344 33 16.5206C33 25.4377 26.0128 32.0411 17 32.0411C15.4354 32.0452 13.8774 31.8385 12.368 31.4267C12.0845 31.3488 11.7828 31.3708 11.5136 31.4891L8.3376 32.8908C8.14581 32.9755 7.93613 33.0119 7.727 32.9966C7.51787 32.9813 7.31569 32.9149 7.13824 32.8032C6.96079 32.6915 6.8135 32.5379 6.70933 32.3559C6.60515 32.1739 6.54728 31.9691 6.5408 31.7595L6.4544 28.9114C6.44843 28.7381 6.40719 28.5679 6.33318 28.411C6.25918 28.2542 6.15398 28.1142 6.024 27.9994C2.912 25.2153 1 21.1863 1 16.5206C1 7.60344 7.9856 1 17 1ZM7.392 21.0599L12.0912 13.6037C12.268 13.3229 12.5011 13.0819 12.7757 12.8958C13.0504 12.7097 13.3606 12.5826 13.6869 12.5225C14.0131 12.4623 14.3483 12.4705 14.6713 12.5464C14.9942 12.6223 15.2979 12.7644 15.5632 12.9636L19.3008 15.7637C19.4674 15.8895 19.6705 15.9575 19.8792 15.9575C20.0879 15.9575 20.291 15.8895 20.4576 15.7637L25.5056 11.93C26.1792 11.4196 27.0592 12.226 26.608 12.9428L21.9072 20.3991C21.7304 20.6794 21.4974 20.92 21.2231 21.1057C20.9487 21.2915 20.6388 21.4185 20.3129 21.4786C19.9871 21.5387 19.6523 21.5307 19.3297 21.4551C19.007 21.3795 18.7036 21.2378 18.4384 21.0391L14.6992 18.239C14.5326 18.1133 14.3295 18.0452 14.1208 18.0452C13.9121 18.0452 13.709 18.1133 13.5424 18.239L8.4944 22.0712C7.8208 22.5816 6.9408 21.7768 7.392 21.0599Z" fill="currentColor"/>
        </svg>
      `,
    },
  ];

  const socialsFooter2 = [
    {
      href: '#',
      label: `
        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17 1C8.17867 1 1 8.17867 1 17C1 25.8213 8.17867 33 17 33C25.8213 33 33 25.8213 33 17C33 8.17867 25.8213 1 17 1ZM17 3.66667C24.38 3.66667 30.3333 9.62 30.3333 17C30.3366 20.192 29.192 23.2787 27.1085 25.6968C25.0249 28.1149 22.1414 29.7033 18.984 30.172V20.888H22.7813L23.3773 17.0307H18.984V14.924C18.984 13.324 19.5107 11.9013 21.008 11.9013H23.4147V8.536C22.992 8.47867 22.0973 8.35467 20.4067 8.35467C16.876 8.35467 14.8067 10.2187 14.8067 14.4667V17.0307H11.1773V20.888H14.8067V30.1387C11.693 29.6262 8.86298 28.0233 6.82226 25.6165C4.78153 23.2096 3.66305 20.1556 3.66667 17C3.66667 9.62 9.62 3.66667 17 3.66667Z" fill="currentColor"/>
        </svg>
      `,
    },
    {
      href: '#',
      label: `
        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17 3.5C13.3364 3.5 12.8758 3.51688 11.4363 3.581C9.99688 3.6485 9.01644 3.87462 8.1575 4.20875C7.25653 4.54763 6.44045 5.07921 5.76631 5.76631C5.07963 6.4408 4.54812 7.25678 4.20875 8.1575C3.87462 9.01475 3.64681 9.99687 3.581 11.4312C3.51688 12.8741 3.5 13.3331 3.5 17.0017C3.5 20.6669 3.51688 21.1259 3.581 22.5654C3.6485 24.0031 3.87462 24.9836 4.20875 25.8425C4.55469 26.7301 5.01538 27.4827 5.76631 28.2337C6.51556 28.9846 7.26819 29.447 8.15581 29.7912C9.01644 30.1254 9.99519 30.3532 11.4329 30.419C12.8741 30.4831 13.3331 30.5 17 30.5C20.6669 30.5 21.1243 30.4831 22.5654 30.419C24.0014 30.3515 24.9853 30.1254 25.8442 29.7912C26.7446 29.4522 27.5601 28.9206 28.2337 28.2337C28.9846 27.4827 29.4453 26.7301 29.7912 25.8425C30.1237 24.9836 30.3515 24.0031 30.419 22.5654C30.4831 21.1259 30.5 20.6669 30.5 17C30.5 13.3331 30.4831 12.8741 30.419 11.4329C30.3515 9.99688 30.1237 9.01475 29.7912 8.1575C29.4519 7.25676 28.9204 6.44077 28.2337 5.76631C27.5598 5.07895 26.7436 4.54734 25.8425 4.20875C24.9819 3.87462 23.9997 3.64681 22.5637 3.581C21.1226 3.51688 20.6653 3.5 16.9966 3.5H17.0017H17ZM15.7901 5.93338H17.0017C20.6062 5.93338 21.0331 5.94519 22.4557 6.011C23.7719 6.07006 24.4874 6.29113 24.9633 6.47506C25.5927 6.71975 26.0433 7.01337 26.5158 7.48587C26.9883 7.95837 27.2803 8.40725 27.5249 9.03838C27.7106 9.51256 27.9299 10.2281 27.989 11.5443C28.0548 12.9669 28.0683 13.3938 28.0683 16.9966C28.0683 20.5994 28.0548 21.0281 27.989 22.4506C27.9299 23.7669 27.7089 24.4807 27.5249 24.9566C27.3085 25.5427 26.963 26.0727 26.5141 26.5074C26.0416 26.9799 25.5928 27.2718 24.9616 27.5165C24.4891 27.7021 23.7736 27.9215 22.4557 27.9823C21.0331 28.0464 20.6062 28.0616 17.0017 28.0616C13.3972 28.0616 12.9686 28.0464 11.546 27.9823C10.2298 27.9215 9.51594 27.7021 9.04006 27.5165C8.45365 27.3004 7.92315 26.9555 7.48756 26.5074C7.03827 26.0721 6.69228 25.5415 6.47506 24.9549C6.29113 24.4807 6.07006 23.7652 6.011 22.4489C5.94688 21.0264 5.93338 20.5994 5.93338 16.9932C5.93338 13.3887 5.94688 12.9635 6.011 11.5409C6.07175 10.2247 6.29113 9.50919 6.47675 9.03331C6.72144 8.40388 7.01506 7.95331 7.48756 7.48081C7.96006 7.00831 8.40894 6.71638 9.04006 6.47169C9.51594 6.28606 10.2298 6.06669 11.546 6.00594C12.7914 5.94856 13.274 5.93169 15.7901 5.93V5.93338ZM24.2073 8.17437C23.9946 8.17437 23.7839 8.21628 23.5874 8.29769C23.3908 8.3791 23.2122 8.49843 23.0618 8.64886C22.9114 8.79929 22.792 8.97788 22.7106 9.17443C22.6292 9.37098 22.5873 9.58163 22.5873 9.79438C22.5873 10.0071 22.6292 10.2178 22.7106 10.4143C22.792 10.6109 22.9114 10.7895 23.0618 10.9399C23.2122 11.0903 23.3908 11.2096 23.5874 11.2911C23.7839 11.3725 23.9946 11.4144 24.2073 11.4144C24.637 11.4144 25.049 11.2437 25.3528 10.9399C25.6566 10.6361 25.8273 10.224 25.8273 9.79438C25.8273 9.36472 25.6566 8.95267 25.3528 8.64886C25.049 8.34505 24.637 8.17437 24.2073 8.17437ZM17.0017 10.0677C16.0821 10.0534 15.1689 10.2221 14.3152 10.5641C13.4614 10.9061 12.6842 11.4145 12.0289 12.0597C11.3735 12.7049 10.8531 13.4741 10.4978 14.3224C10.1425 15.1707 9.95958 16.0812 9.95958 17.0008C9.95958 17.9205 10.1425 18.831 10.4978 19.6793C10.8531 20.5276 11.3735 21.2968 12.0289 21.942C12.6842 22.5872 13.4614 23.0956 14.3152 23.4376C15.1689 23.7796 16.0821 23.9483 17.0017 23.9339C18.8217 23.9055 20.5576 23.1626 21.8346 21.8655C23.1117 20.5684 23.8275 18.8211 23.8275 17.0008C23.8275 15.1806 23.1117 13.4333 21.8346 12.1362C20.5576 10.8391 18.8217 10.0961 17.0017 10.0677ZM17.0017 12.4994C18.1953 12.4994 19.34 12.9736 20.1841 13.8176C21.0281 14.6616 21.5023 15.8064 21.5023 17C21.5023 18.1936 21.0281 19.3384 20.1841 20.1824C19.34 21.0264 18.1953 21.5006 17.0017 21.5006C15.8081 21.5006 14.6633 21.0264 13.8193 20.1824C12.9753 19.3384 12.5011 18.1936 12.5011 17C12.5011 15.8064 12.9753 14.6616 13.8193 13.8176C14.6633 12.9736 15.8081 12.4994 17.0017 12.4994Z" fill="currentColor"/>
        </svg>
      `,
    },
    {
      href: '#',
      label: `
        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="17" cy="17" r="15" stroke="currentColor" stroke-width="2"/>
          <path d="M21.44 10.82C20.7564 10.0396 20.3797 9.03743 20.38 8H17.29V20.4C17.2662 21.071 16.9829 21.7066 16.4998 22.1729C16.0167 22.6393 15.3714 22.8999 14.7 22.9C13.28 22.9 12.1 21.74 12.1 20.3C12.1 18.58 13.76 17.29 15.47 17.82V14.66C12.02 14.2 9 16.88 9 20.3C9 23.63 11.76 26 14.69 26C17.83 26 20.38 23.45 20.38 20.3V14.01C21.633 14.9099 23.1374 15.3926 24.68 15.39V12.3C24.68 12.3 22.8 12.39 21.44 10.82Z" fill="currentColor"/>
        </svg>
      `,
    },
    {
      href: '#',
      label: `
        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.0303 0.5H12.1212L10.8485 5.24375L9.57576 0.5H7.45455C7.87879 1.7375 8.30303 2.76875 8.72727 4.00625C9.36364 5.65625 9.78788 7.1 9.78788 7.925V12.875H11.697V7.925L14.0303 0.5ZM19.1212 9.78125V6.6875C19.1212 5.65625 18.9091 5.0375 18.4848 4.41875C18.0606 3.8 17.4242 3.59375 16.5758 3.59375C15.7273 3.59375 15.0909 4.00625 14.6667 4.625C14.2424 5.0375 14.0303 5.65625 14.0303 6.6875V9.9875C14.0303 11.0187 14.2424 11.6375 14.6667 12.05C15.0909 12.6687 15.7273 12.875 16.5758 12.875C17.4242 12.875 18.0606 12.4625 18.4848 11.8438C18.9091 11.6375 19.1212 10.8125 19.1212 9.78125ZM17.4242 10.1937C17.4242 11.0187 17.2121 11.4313 16.5758 11.4313C15.9394 11.4313 15.7273 11.0187 15.7273 10.1937V6.275C15.7273 5.45 15.9394 5.0375 16.5758 5.0375C17.2121 5.0375 17.4242 5.45 17.4242 6.275V10.1937ZM25.4848 12.875V3.59375H23.7879V10.6063C23.3636 11.225 23.1515 11.4313 22.7273 11.4313C22.5152 11.4313 22.303 11.225 22.303 11.0187V3.59375H20.6061V10.8125C20.6061 11.4313 20.6061 11.8437 20.8182 12.2562C20.8182 12.6687 21.2424 12.875 21.8788 12.875C22.5152 12.875 23.1515 12.4625 23.7879 11.8438V12.875H25.4848ZM26.3333 22.1562C25.697 22.1562 25.4848 22.5688 25.4848 23.3938V24.2188H27.1818V23.3938C27.1818 22.5688 26.9697 22.1562 26.3333 22.1562ZM20.1818 22.1562C19.9697 22.1562 19.5455 22.3625 19.3333 22.5687V28.1375C19.5455 28.3437 19.9697 28.55 20.1818 28.55C20.6061 28.55 20.8182 28.1375 20.8182 27.3125V23.3938C20.8182 22.5688 20.6061 22.1562 20.1818 22.1562Z" fill="currentColor"/>
          <path d="M30.5758 17.6188C30.1515 16.175 28.8788 14.9375 27.6061 14.9375C24.2121 14.525 20.6061 14.525 17 14.525C13.3939 14.525 10 14.525 6.39394 14.9375C5.12121 14.9375 3.84848 16.175 3.42424 17.6188C3 19.6813 3 21.95 3 24.0125C3 26.075 3 28.3438 3.42424 30.4062C3.84848 31.85 4.90909 32.8813 6.39394 33.0875C10 33.5 13.3939 33.5 17 33.5C20.6061 33.5 24 33.5 27.6061 33.0875C29.0909 32.8813 30.3636 31.85 30.5758 30.4062C31 28.3438 31 26.075 31 24.0125C31 21.95 31 19.6813 30.5758 17.6188ZM11.0606 19.475H8.93939V29.9938H7.0303V19.475H5.12121V17.6188H11.0606V19.475ZM16.1515 29.9938H14.4545V28.9625C13.8182 29.7875 13.1818 29.9938 12.5455 29.9938C11.9091 29.9938 11.697 29.7875 11.4848 29.375C11.4848 29.1687 11.2727 28.7563 11.2727 27.9313V20.7125H12.9697V27.9313C12.9697 28.1375 13.1818 28.3438 13.3939 28.3438C13.8182 28.3438 14.0303 28.1375 14.4545 27.5188V20.7125H16.1515V29.9938ZM22.5152 27.1062C22.5152 27.9312 22.5152 28.55 22.303 28.9625C22.0909 29.5813 21.6667 29.9938 21.0303 29.9938C20.3939 29.9938 19.7576 29.5813 19.3333 28.9625V29.7875H17.6364V17.6188H19.3333V21.5375C19.9697 20.9187 20.3939 20.5062 21.0303 20.5062C21.6667 20.5062 22.0909 20.9187 22.303 21.5375C22.5152 21.95 22.5152 22.5688 22.5152 23.3938V27.1062ZM28.8788 25.6625H25.4848V27.3125C25.4848 28.1375 25.697 28.55 26.3333 28.55C26.7576 28.55 26.9697 28.3438 27.1818 27.9313V26.9H28.8788V28.1375C28.8788 28.55 28.6667 28.7562 28.4545 29.1687C28.0303 29.7875 27.3939 30.2 26.3333 30.2C25.4848 30.2 24.8485 29.7875 24.2121 29.1687C23.7879 28.7562 23.5758 27.9312 23.5758 27.1062V24.0125C23.5758 22.9812 23.7879 22.3625 24 21.95C24.4242 21.3312 25.0606 20.9187 26.1212 20.9187C26.9697 20.9187 27.6061 21.3312 28.0303 21.95C28.4545 22.3625 28.4545 23.1875 28.4545 24.0125V25.6625H28.8788Z" fill="currentColor"/>
        </svg>
      `,
    },
  ];


footer.footer
  ._container
    .footer__wrapper
      .footer__item
        p.footer__title Соціальні <br/>мережі

        .footer__content
          .footer__socials__container
            p.footer__socials__title прямий зв'язок

            ul.socials.footer__socials
              each item in socialsFooter1
                li
                  a.socials__link(
                    href=`${item.href}`,
                    target='_blank',
                    rel='noreferrer'
                  )!= item.label

          .footer__socials__container
            p.footer__socials__title Пабліки

            ul.socials.footer__socials
              each item in socialsFooter2
                li
                  a.socials__link(
                    href=`${item.href}`,
                    target='_blank',
                    rel='noreferrer'
                  )!= item.label

      .footer__item
        p.footer__title контакти

        .footer__content.footer-contact
          a.footer-contact__link.medium(href='tel:+380674448820') +380 (67) 444 88 20

          a.footer-contact__link(href='mailto:info@w8shipping.ua') info@w8shipping.ua

      .footer__item
        ul.footer-accordion.accordion
          each item in footerAccordion
            li.accordion__item
              button.accordion__summary
                span.footer-accordion__text
                  if item.isOnline === 'true'
                    span.footer-accordion__additional [дистанційно]

                  span.accordion__title= item.title

                span.accordion__label

              .accordion__details
                .accordion__description
                  .footer-accordion-info
                    .footer-accordion-info__col
                      p.footer-accordion-info__item= item.adress

                      a.footer-accordion-adress(
                        href='#',
                        target='_blank',
                        rel='noreferrer'
                      ) 
                        span.footer-accordion-adress__text Побудувати маршрут

                        span.footer-accordion-adress__label
                          <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 14L14 1M14 1V13.48M14 1H1.52" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>

                    .footer-accordion-info__col
                      a.footer-accordion-info__item(
                        href=`tel:${item.telephone}`
                      )= item.telephone

                      a.footer-accordion-info__item(
                        href=`mailto:${item.email}`
                      )= item.email
