-
  const popupList = [
    { 
      name: 'info-video', 
      type: 'video', 
      video: '@/assets/video/video.mp4',
    }, 
    { 
      name: 'menu', 
      type: 'menu', 
      video: '',
      title: '',
      subtitle: '',
      isFullscreen: 'false',
      isFullscreenPhone: 'false'
    }, 
    //- { 
    //-   name: 'about', 
    //-   type: 'common', 
    //-   video: '',
    //-   isFullscreenPhone: 'false'
    //- },
    { 
      name: 'thanks', 
      type: 'feedback', 
      video: '',
      isFullscreen: 'true',
      isFullscreenPhone: 'false'
    },
    { 
      name: 'error', 
      type: 'feedback', 
      video: '',
      isFullscreen: 'false',
      isFullscreenPhone: 'false'
    },
    { 
      name: 'form', 
      type: 'form', 
      video: '',
      isFullscreen: 'true',
      isFullscreenPhone: 'false'
    },
    { 
      name: 'form-short-selection', 
      type: 'form-short', 
      video: '',
      isFullscreen: 'false',
      isFullscreenPhone: 'false'
    },
    { 
      name: 'form-short-order', 
      type: 'form-short', 
      video: '',
      isFullscreen: 'false',
      isFullscreenPhone: 'false'
    },
  ];

each item in popupList
  div(
    class=`popup popup-${item.type} ${item.name}__popup ${item.isFullscreenPhone === 'true' ? 'fullscreen-phone': ''} ${item.isFullscreen === 'true' ? 'fullscreen': ''} `,
    data-popupname=`_popup-${item.name}`,
    aria-modal='true',
    role='dialog'
  )
    .popup__overlay
    .popup__additional

    .popup__scroll
      .popup__wrapper
        button.popup__close(class=`${item.type === 'menu' ? 'hidden' : ''}`)
          if item.isFullscreen !== 'true'
            img(
              class=`${item.isFullscreenPhone === 'true' ? 'desktop' : ''}`,
              src=require('@/assets/img/popup-close.svg'),
              alt='close'
            )

          if item.isFullscreenPhone === 'true'
            img.mobile(
              src=require('@/assets/img/popup-close-black.svg'),
              alt='close'
            )

          if item.isFullscreen === 'true'
            img(src=require('@/assets/img/popup-close-black.svg'), alt='close')

        .popup__content
          case item.type 
            when 'video'
              .popup-video__media
                <eframe src="https://www.youtube.com/embed/IPX-L2F78fU?si=f9pik8AgtnWDWAPt&enablejsapi=1" title="YouTube video player" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                </eframe>
                //- video.video(
                //-   disablePictureInPicture,
                //-   preload='metadata',
                //-   playsinline,
                //-   controls
                //- ) 
                //-   source(data-src=require(`${item.video}`), type='video/mp4')

            when 'menu'
              include @/templates/popup/menu.pug

            when 'feedback'
              if item.name === 'thanks'
                include @/templates/popup/thanks-popup.pug

              if item.name === 'error'
                include @/templates/popup/error-popup.pug

            when 'form-short'
              if item.name === 'form-short-selection'
                include @/templates/popup/form-popup-short.pug

              if item.name === 'form-short-order'
                include @/templates/popup/form-popup-short-order.pug

            when 'form'
              include @/templates/popup/form-popup.pug

            default
              include @/templates/popup/content-popup.pug
