-
  const feedbackBloggersArray = [
    {
      image: '@/assets/img/feedback/feedback-1.jpg',
    },
    {
      image: '@/assets/img/feedback/feedback-2.jpg',
    },
    {
      image: '@/assets/img/feedback/feedback-3.jpg',
    },
  ];

section.feedback.feedback-bloggers
  ._container
    .feedback__wrapper
      .feedback__header
        //h2.feedback__title
          span кожен
          span 2-й покупець
          span рекомендує нас
        h2.feedback__title
          span нам
          span довіряють
          span топ блогери:

        //- p.feedback__subtitle друзям <br/>чи родичам

        .feedback-socials
          a.feedback-socials__link.small(
            href='#',
            target='_blank',
            rel='noreferrer'
          ) 
            <svg width="89" height="36" viewBox="0 0 89 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.8334 5.84782L11.8467 5.78598L11.882 5.52537L10.2477 5.51654C8.7724 5.50771 8.31965 5.51654 8.27989 5.55408C8.26002 5.57175 7.74985 7.50864 6.84214 11.0158C6.40927 12.6899 6.04486 14.026 6.03161 13.9863C6.01835 13.9465 5.50156 12.0361 4.87875 9.74146C4.50586 8.33847 4.12009 6.93894 3.72148 5.54304C3.69939 5.52096 1.72055 5.51212 0.117154 5.52537C-0.114742 5.52758 -0.245046 5.07263 2.18876 12.8113C2.52446 13.8825 3.03021 15.3997 3.30848 16.1815C3.63093 17.0826 3.86062 17.7805 4.01742 18.3614C4.2957 19.4678 4.30453 20.1613 4.2449 20.9719C4.17423 21.9061 4.1654 28.5096 4.23386 28.62C4.28686 28.7039 7.38102 28.7437 7.67476 28.6642C7.72113 28.6509 7.75205 28.6068 7.77414 28.3572C7.84702 28.143 7.85365 27.2883 7.85365 23.7414V19.2117L8.05241 18.5866C8.18272 18.1781 8.50737 17.1025 8.77681 16.197L9.499 13.7897C10.6673 9.98219 11.7804 6.23873 11.8113 6.0245L11.8356 5.85003L11.8334 5.84782ZM29.1616 11.3427V11.579H29.124L29.1042 18.1008L29.0843 24.4238L28.5785 24.9384C28.0109 25.5148 27.5582 25.7357 27.1474 25.6319C26.6991 25.5192 26.7123 25.6937 26.6748 18.22L26.6394 11.3404H23.3841V11.5768H23.3465V19.0416C23.3465 27.0387 23.3465 27.0343 23.7529 27.836C24.0753 28.4765 24.5479 28.7879 25.3541 28.8939C26.4164 29.0352 27.5626 28.5538 28.6249 27.5202L29.0865 27.0718V27.847C29.0865 28.5162 29.1064 28.6266 29.2278 28.6598C29.4266 28.715 31.8913 28.7194 32.1563 28.6642L32.3772 28.6178V28.3881L32.4147 28.3815V11.2963L29.1638 11.3404L29.1616 11.3427ZM20.9061 14.7129C20.5969 13.39 20.0205 12.4999 19.0686 11.8859C17.5756 10.9208 15.8684 10.817 14.2871 11.5988C13.1342 12.1686 12.39 13.1139 12.0079 14.5009C11.9588 14.6676 11.9241 14.8383 11.9041 15.011C11.8069 15.5013 11.7959 16.2301 11.7694 19.6335C11.7296 24.8765 11.7915 25.4993 12.4474 26.6897C13.0923 27.8581 14.4284 28.715 15.8839 28.8917C16.3212 28.9447 17.209 28.8629 17.7214 28.7194C18.8809 28.3969 19.994 27.4804 20.4865 26.4402C20.7033 26.0237 20.8446 25.572 20.9039 25.1062C21.0474 24.3266 21.0585 23.0633 21.0585 19.8477C21.0585 15.7465 21.0452 15.2981 20.9083 14.7107L20.9061 14.7129ZM17.1935 25.4C16.8578 25.6194 16.449 25.6972 16.0561 25.6164C15.758 25.5524 15.3538 25.0841 15.2301 24.6579C15.0756 24.1256 15.0645 16.7204 15.197 15.2694C15.4179 14.5428 16.0318 14.1629 16.7032 14.344C17.2267 14.4854 17.4939 14.8123 17.6463 15.4991C17.7589 16.0093 17.7722 16.6431 17.7479 20.3733C17.7324 22.8469 17.7236 24.0572 17.6419 24.7065C17.5602 25.1151 17.4232 25.2255 17.1935 25.4022V25.4ZM79.3461 18.4342H80.9185L80.8943 17.0097C80.87 15.7023 80.8501 15.5543 80.6756 15.1987C80.3996 14.64 79.9932 14.3904 79.3483 14.3904C78.5731 14.3904 78.0828 14.7659 77.8509 15.5344C77.7515 15.8613 77.6477 18.1118 77.7228 18.3062C77.7648 18.4144 77.99 18.4342 79.3461 18.4342ZM68.8335 15.1943C68.7399 14.998 68.5893 14.8344 68.4014 14.7249C68.2135 14.6153 67.9969 14.565 67.78 14.5804C67.369 14.6118 66.9775 14.7682 66.6581 15.0287L66.3776 15.2429V25.4773L66.6581 25.6915C67.2941 26.1774 67.992 26.279 68.4735 25.9565C68.673 25.8157 68.818 25.6107 68.8843 25.3757C69.0101 25.0135 69.0212 24.5475 69.0057 20.2408C68.9881 15.7531 68.9792 15.4881 68.8335 15.1943Z" fill="currentColor"/>
              <path d="M88.3348 10.5826C88.0212 6.82592 87.7716 5.60681 86.9986 4.04096C85.9717 1.96714 84.4897 0.87392 82.3784 0.63319C80.7463 0.447673 74.6021 0.184858 68.9196 0.0589712C59.0784 -0.159674 42.8986 0.262156 40.8315 0.789996C39.9089 1.01642 39.0705 1.50231 38.4153 2.19021C37.1101 3.48882 36.3305 5.35283 36.0191 7.93239C35.3057 13.8203 35.2902 20.9318 35.9771 27.034C36.273 29.6577 36.8826 31.3627 38.0266 32.7673C38.74 33.6441 39.9723 34.3884 41.0722 34.6115C41.8452 34.7683 45.7101 34.9847 51.3419 35.1857C52.1811 35.2166 54.4007 35.2674 56.2779 35.3005C60.187 35.369 67.3758 35.3293 71.4859 35.2144C74.251 35.1371 79.2909 34.9317 80.2339 34.8588C80.4989 34.839 81.1129 34.7992 81.5988 34.7727C83.2309 34.6799 84.2689 34.3398 85.2429 33.5735C86.5039 32.5818 87.4801 30.751 87.8931 28.6021C88.284 26.5702 88.5446 22.9504 88.5976 18.8403C88.6418 15.4061 88.5822 13.5553 88.3348 10.5782V10.5826ZM49.1466 9.22218L47.3179 9.24426L47.2384 28.7456L45.6527 28.7655C44.4269 28.7832 44.0537 28.7633 44.025 28.686C44.0029 28.6308 43.9786 24.2336 43.9676 18.9154L43.9477 9.24426L40.3765 9.20009V6.15231L50.9311 6.19428L50.9752 9.19788L49.1466 9.21997V9.22218ZM60.3593 20.3996V28.7854H57.4705V27.902C57.4705 27.2372 57.4463 27.0185 57.3667 27.0185C57.3093 27.0185 57.0487 27.2372 56.7859 27.5044C56.2139 28.0853 55.5381 28.5513 54.9594 28.7677C53.7624 29.216 52.6272 28.9532 52.1436 28.1206C51.6996 27.3587 51.693 27.1864 51.693 19.2754V12.0093H54.5796L54.6017 18.8514C54.6237 25.5742 54.626 25.6978 54.7872 25.9717C55.0014 26.3339 55.3261 26.4333 55.8429 26.2897C56.1476 26.2058 56.3552 26.0578 56.8477 25.5675L57.4705 24.9491V12.0093H60.3593V20.3951V20.3996ZM71.6273 27.5883C71.3733 28.1559 70.8057 28.7103 70.3397 28.8472C69.1272 29.205 68.1532 28.9135 67.0291 27.8556C66.6801 27.5265 66.3555 27.2615 66.3069 27.2615C66.2473 27.2615 66.2163 27.5177 66.2163 28.0234V28.7854H63.3276V6.15231H66.2163V9.84498C66.2163 11.8746 66.2428 13.5377 66.276 13.5377C66.3091 13.5377 66.6139 13.2682 66.954 12.9413C67.7358 12.1882 68.3873 11.857 69.2155 11.7951C70.693 11.6825 71.5742 12.4444 71.9762 14.1803C72.1021 14.7214 72.1131 15.3398 72.1131 20.3598C72.1131 26.473 72.1153 26.4995 71.6273 27.5883ZM83.8515 24.2314C83.8365 24.7702 83.7797 25.307 83.6814 25.837C83.2795 27.3255 82.2105 28.3812 80.6646 28.8141C78.5841 29.3971 76.2917 28.443 75.3773 26.6122C74.865 25.5852 74.8451 25.3798 74.8451 20.3598C74.8451 16.2674 74.8605 15.7639 74.9908 15.2051C75.3619 13.626 76.2806 12.6034 77.8376 12.0358C78.2882 11.8724 78.7586 11.7863 79.229 11.7774C80.9097 11.7421 82.5749 12.6454 83.2751 14.1163C83.7455 15.1079 83.8051 15.5342 83.8515 18.3302L83.8934 20.8391L77.7338 20.881L77.7118 22.5661C77.6786 24.9447 77.8399 25.6757 78.4825 26.1064C79.0214 26.4708 79.8518 26.4421 80.3024 26.0468C80.7264 25.6758 80.8457 25.276 80.8876 24.1099L80.9252 23.0873H83.9001L83.8515 24.2314Z" fill="currentColor"/>
            </svg>

          a.feedback-socials__link.medium(
            href='#',
            target='_blank',
            rel='noreferrer'
          ) 
            <svg width="149" height="44" viewBox="0 0 149 44" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.6689 0.153106C4.61891 1.48299 1.26645 5.23529 0.207551 9.94883C-1.13366 15.919 4.44666 18.4445 4.90473 17.6175C5.44337 16.6447 3.9048 16.3159 3.58803 13.2179C3.17872 9.21673 4.96574 4.746 7.21492 2.7843C7.63241 2.41962 7.61285 2.92714 7.61285 3.86529C7.61285 5.54314 7.5238 20.6058 7.5238 23.7494C7.5238 28.0028 7.35506 29.3461 7.05172 30.6735C6.74488 32.0183 6.2509 32.9273 6.62489 33.2774C7.04296 33.6688 8.82794 32.7373 9.86115 31.2364C11.1002 29.436 11.534 27.2735 11.612 24.9258C11.706 22.0952 11.7019 17.6036 11.706 15.0416C11.7095 12.6922 11.7439 5.81209 11.6663 1.67597C11.6473 0.660929 8.94443 -0.403342 7.6689 0.153106ZM115.966 20.0597C115.867 22.2712 115.397 23.9995 114.813 25.2188C113.683 27.5792 111.339 28.3119 110.343 24.9191C109.801 23.0696 109.776 19.9807 110.165 17.3996C110.562 14.7706 111.671 12.7849 113.507 12.9639C115.317 13.141 116.165 15.5692 115.966 20.0597ZM85.4422 33.7797C85.4177 37.4539 84.8621 40.6753 83.6709 41.6113C81.9811 42.9382 79.7101 41.9426 80.1804 39.2615C80.5964 36.889 82.5644 34.4659 85.4472 31.5053C85.4472 31.5053 85.453 32.1806 85.4422 33.7797ZM84.9809 20.0381C84.8776 22.0524 84.376 24.0755 83.8286 25.2188C82.6987 27.5792 80.3375 28.3171 79.3588 24.9191C78.6897 22.5973 78.85 19.5929 79.1807 17.6996C79.6105 15.2431 80.6522 12.9642 82.5221 12.9642C84.3404 12.9642 85.2372 15.0407 84.9809 20.0381ZM67.299 20.0077C67.1881 22.1405 66.7884 23.9235 66.147 25.2188C64.9862 27.5631 62.6897 28.3064 61.6772 24.9191C60.9471 22.4766 61.1955 19.1465 61.4991 17.3474C61.9499 14.6776 63.0786 12.7849 64.8405 12.9642C66.6503 13.1483 67.5299 15.5695 67.299 20.0077ZM148.33 22.4991C147.888 22.4991 147.686 22.9738 147.519 23.7725C146.94 26.5514 146.331 27.1783 145.546 27.1783C144.668 27.1783 143.88 25.8029 143.677 23.0489C143.518 20.8833 143.544 16.8967 143.747 12.931C143.789 12.1163 143.573 11.31 141.473 10.5162C140.57 10.1746 139.257 9.67167 138.603 11.3146C136.756 15.9564 136.033 19.6415 135.863 21.138C135.854 21.2154 135.763 21.2316 135.747 21.0504C135.638 19.8515 135.396 17.6725 135.366 13.0951C135.36 12.202 135.178 11.4419 134.231 10.8195C133.617 10.4153 131.751 9.70115 131.079 10.5512C130.497 11.2459 129.823 13.1161 129.122 15.3334C128.553 17.1355 128.156 18.3542 128.156 18.3542C128.156 18.3542 128.164 13.4923 128.171 11.648C128.174 10.9523 127.715 10.7204 127.577 10.6785C126.955 10.4907 125.729 10.1768 125.209 10.1768C124.566 10.1768 124.409 10.55 124.409 11.0945C124.409 11.166 124.308 17.4957 124.308 21.9217C124.308 22.1141 124.308 22.3238 124.309 22.5468C123.954 24.5812 122.802 27.3424 121.55 27.3424C120.295 27.3424 119.704 26.1882 119.704 20.9115C119.704 17.8333 119.793 16.4946 119.836 14.2682C119.862 12.9857 119.911 12.0011 119.908 11.7777C119.898 11.0924 118.76 10.7469 118.23 10.6192C117.698 10.4907 117.236 10.4405 116.875 10.4621C116.363 10.4925 116.002 10.8411 116.002 11.3213C116.002 11.579 116.005 12.0683 116.005 12.0683C115.346 10.9912 114.287 10.2418 113.583 10.0245C111.685 9.43797 109.705 9.95764 108.212 12.1333C107.025 13.8616 106.309 15.8196 106.027 18.6323C105.821 20.6888 105.889 22.7739 106.255 24.5374C105.812 26.5274 104.992 27.3424 104.093 27.3424C102.788 27.3424 101.842 25.1258 101.952 21.2911C102.024 18.769 102.509 16.9991 103.039 14.4384C103.265 13.3468 103.081 12.7754 102.621 12.2278C102.198 11.7255 101.298 11.4687 100.005 11.7841C99.0835 12.0093 97.766 12.2515 96.5605 12.4375C96.5605 12.4375 96.6335 12.1351 96.693 11.6027C97.0066 8.8098 94.0909 9.03621 93.1605 9.92817C92.6055 10.4609 92.2274 11.0891 92.084 12.2184C91.8563 14.0108 93.2606 14.8563 93.2606 14.8563C92.8002 17.0517 91.6706 19.9193 90.5046 21.9928C89.8801 23.1036 89.4025 23.9269 88.7856 24.8018C88.7655 21.2906 88.7875 17.7792 88.8516 14.2685C88.877 12.986 88.9263 12.0275 88.9237 11.8039C88.9167 11.303 88.6355 11.1134 88.0508 10.8739C87.5334 10.6618 86.9221 10.5153 86.2877 10.4636C85.4871 10.3992 85.0049 10.8408 85.0177 11.3635C85.02 11.4623 85.02 12.0683 85.02 12.0683C84.3617 10.9912 83.3028 10.2418 82.5983 10.0245C80.7006 9.43797 78.7206 9.95764 77.227 12.1333C76.0403 13.8616 75.2631 16.2873 75.0427 18.611C74.8377 20.7763 74.8754 22.6164 75.1551 24.167C74.8535 25.7193 73.9858 27.3428 73.0051 27.3428C71.7509 27.3428 71.0374 26.1882 71.0374 20.9115C71.0374 17.8333 71.1262 16.4946 71.17 14.2682C71.1954 12.986 71.2441 12.0011 71.2415 11.7777C71.2321 11.0924 70.0938 10.7472 69.5639 10.6192C69.0098 10.4855 68.5313 10.4369 68.1637 10.4652C67.6791 10.5025 67.3381 10.9544 67.3381 11.2915V12.0683C66.6798 10.9912 65.6209 10.2418 64.9164 10.0245C63.0187 9.43797 61.0498 9.96615 59.5451 12.1333C58.5642 13.5461 57.7698 15.1125 57.361 18.58C57.2428 19.582 57.1905 20.5207 57.1975 21.3975C56.8063 23.8883 55.078 26.759 53.6647 26.759C52.8376 26.759 52.0496 25.0887 52.0496 21.5297C52.0496 16.7888 52.3316 10.0385 52.3795 9.38813C52.3795 9.38813 54.1654 9.35652 54.511 9.35227C55.4021 9.34193 56.2087 9.36412 57.3955 9.3006C57.9905 9.2693 58.5639 7.04564 57.9496 6.77061C57.6711 6.64601 55.7036 6.53721 54.9235 6.51989C54.2678 6.50469 52.442 6.36368 52.442 6.36368C52.442 6.36368 52.6058 1.88323 52.644 1.41005C52.6761 1.01528 52.1856 0.812273 51.9048 0.689192C51.221 0.388327 50.6094 0.243973 49.8845 0.0883745C48.8825 -0.126789 48.4283 0.0838159 48.3395 0.963617C48.2058 2.29927 48.1366 6.21142 48.1366 6.21142C47.4015 6.21142 44.8901 6.0619 44.155 6.0619C43.4718 6.0619 42.7344 9.12039 43.6791 9.15807C44.7658 9.20183 46.6596 9.24013 47.915 9.27903C47.915 9.27903 47.859 16.1406 47.859 18.2594C47.859 18.4843 47.8601 18.7016 47.8613 18.9122C47.1702 22.6608 44.7366 24.686 44.7366 24.686C45.2591 22.2059 44.1915 20.3432 42.2684 18.7666C41.5599 18.1858 40.1611 17.086 38.5963 15.8807C38.5963 15.8807 39.5025 14.9508 40.3065 13.0799C40.8758 11.7543 40.9006 10.2381 39.5025 9.90355C37.1926 9.35044 35.2882 11.1164 34.7201 13.0018C34.2798 14.4624 34.5145 15.5458 35.3769 16.6715C35.4397 16.7538 35.5083 16.838 35.5784 16.9225C35.0573 17.9685 34.3408 19.3771 33.7341 20.4694C32.0502 23.5023 30.7782 25.9007 29.8168 25.9007C29.0484 25.9007 29.0586 23.4652 29.0586 21.1851C29.0586 19.2194 29.1981 16.2639 29.3097 13.2045C29.3464 12.1926 28.8601 11.616 28.0455 11.0939C27.5504 10.7767 26.4938 10.1531 25.8819 10.1531C24.9657 10.1531 22.323 10.2828 19.8263 17.8014C19.5115 18.749 18.8932 20.4757 18.8932 20.4757L18.9466 11.4343C18.9466 11.2222 18.838 11.0174 18.5896 10.8773C18.1689 10.6393 17.0452 10.1531 16.0458 10.1531C15.5699 10.1531 15.332 10.3834 15.332 10.8429L15.245 24.9884C15.245 26.0633 15.2719 27.3172 15.374 27.8655C15.4756 28.4143 15.6406 28.8611 15.8444 29.1267C16.0484 29.392 16.284 29.5947 16.6726 29.6779C17.0343 29.7554 19.0149 30.0201 19.118 29.2324C19.2412 28.2879 19.2462 27.2668 20.2861 23.4576C21.9052 17.5273 24.016 14.6341 25.0087 13.6063C25.1824 13.427 25.3803 13.4161 25.3707 13.7099C25.3286 15.01 25.1794 18.2594 25.0793 21.0188C24.8104 28.4052 26.1011 29.7743 27.946 29.7743C29.3572 29.7743 31.3466 28.3146 33.479 24.6198C34.6672 22.5607 35.8498 20.4982 37.027 18.4323C37.6731 19.055 38.3986 19.7251 39.1232 20.4411C40.8078 22.1053 41.3607 23.6868 40.9938 25.1869C40.7135 26.3335 39.6563 27.5154 37.7753 26.3669C37.227 26.0317 36.9929 25.7725 36.4417 25.3947C36.1457 25.192 35.6934 25.1312 35.4222 25.344C34.718 25.8965 34.3151 26.5997 34.0851 27.4701C33.8614 28.3171 34.6763 28.7647 35.5212 29.1564C36.2484 29.4935 37.8118 29.7989 38.8085 29.8335C42.6929 29.9688 45.8048 27.8813 47.9711 22.4964C48.3588 27.147 50.0089 29.7785 52.8761 29.7785C54.793 29.7785 56.715 27.1993 57.5555 24.662C57.7966 25.6962 58.154 26.5958 58.6152 27.3564C60.8244 31.0002 65.1103 30.2162 67.2631 27.1218C67.9287 26.1657 68.03 25.8223 68.03 25.8223C68.3442 28.7437 70.6044 29.7646 71.8984 29.7646C73.3479 29.7646 74.8441 29.0513 75.8931 26.5933C76.016 26.8602 76.1503 27.1151 76.2969 27.3564C78.5061 31.0002 82.7922 30.2162 84.945 27.1218C85.0466 26.9765 85.1348 26.8453 85.2116 26.7267L85.2746 28.6459L83.2926 30.5383C79.9702 33.708 77.4466 36.1119 77.2609 38.9118C77.0244 42.4817 79.8044 43.8085 81.9105 43.9824C84.143 44.1669 86.0585 42.882 87.2339 41.0838C88.2686 39.5007 88.9459 36.094 88.896 32.7294C88.8764 31.3819 88.8434 29.6688 88.818 27.8323C89.9843 26.4225 91.2984 24.6404 92.5082 22.5551C93.8267 20.2822 95.2397 17.2298 95.9632 14.8541C95.9632 14.8541 97.1908 14.8654 98.5011 14.776C98.92 14.7475 99.0406 14.8368 98.963 15.1562C98.8695 15.5428 97.3076 21.8132 98.7332 25.9904C99.7086 28.8501 101.908 29.7697 103.212 29.7697C104.738 29.7697 106.198 28.5699 106.981 26.7884C107.075 26.9869 107.174 27.1789 107.281 27.3567C109.491 31.0005 113.762 30.2113 115.93 27.1218C116.419 26.4247 116.697 25.8223 116.697 25.8223C117.162 28.8462 119.421 29.7801 120.715 29.7801C122.062 29.7801 123.342 29.2048 124.379 26.6486C124.423 27.7743 124.491 28.6945 124.599 28.9844C124.664 29.1622 125.047 29.3847 125.326 29.4923C126.559 29.9682 127.816 29.7433 128.282 29.6454C128.604 29.5774 128.855 29.3081 128.89 28.6134C128.98 26.7884 128.925 23.7223 129.456 21.4434C130.348 17.6194 131.18 16.136 131.575 15.4018C131.796 14.99 132.045 14.9222 132.054 15.3577C132.073 16.239 132.115 18.8262 132.461 22.3028C132.715 24.8593 133.053 26.3706 133.314 26.8492C134.058 28.2168 134.976 28.2815 135.724 28.2815C136.2 28.2815 137.195 28.1448 137.106 27.2744C137.062 26.8501 137.138 24.228 138.018 20.4606C138.592 18.0001 139.55 15.7774 139.895 14.9645C140.023 14.6648 140.082 14.9009 140.08 14.9471C140.007 16.6414 139.844 22.1834 140.507 25.2145C141.406 29.3206 144.006 29.7801 144.912 29.7801C146.847 29.7801 148.429 28.2484 148.962 24.218C149.09 23.248 148.9 22.4991 148.33 22.4991Z" fill="currentColor"/>
            </svg>

      .feedback__main
        .feedback-slider.swiper
          .swiper-wrapper
            each item, index in feedbackBloggersArray
              .swiper-slide
                button.feedback-slider__item.popup-open(
                  data-popup='_popup-info-video'
                ) 
                  span.feedback-slider__label
                    <svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="100" cy="100" r="99" stroke="currentColor" stroke-width="2"/>
                      <path d="M143.868 100.888C144.535 101.273 144.535 102.235 143.868 102.62L78.8158 140.178C78.1491 140.563 77.3158 140.082 77.3158 139.312L77.3158 64.196C77.3158 63.4262 78.1491 62.9451 78.8158 63.33L143.868 100.888L144.368 100.022L143.868 100.888Z" stroke="currentColor" stroke-width="2"/>
                    </svg>

                  span.feedback-slider__img
                    span.feedback-slider__img__container
                      img(
                        src=require(`${item.image}`),
                        alt=`feedback-preview-${index + 1}`,
                        loading='lazy'
                      )

        .feedback-slider__bottom
          .feedback-slider-controls
            button.feedback-slider-prev
              <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M34.9412 17.9705H1.00004M1.00004 17.9705L17.2918 34.2622M1.00004 17.9705L17.2918 1.67872" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>

            button.feedback-slider-next
              <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 17.9705H34.9411M34.9411 17.9705L18.6494 34.2622M34.9411 17.9705L18.6494 1.67872" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>

          .feedback-slider-pagination

      .feedback-footer
        //.feedback-footer__text
          p.feedback-footer__title І це неймовірно нас мотивує
          p.feedback-footer__description Більше 12 000 українцям W8shipping привезли автомобіль “під ключ”, який вони успішно експлуатують, або вигідно продали.

        .feedback-footer__links
          a.feedback-footer-link(href='#', target='_blank', rel='noreferrer') 
            span.feedback-footer-link__text
              <strong>YouTube</strong> - <br/>Джипы Монстры

            span.feedback-footer-link__label
              img(
                src=require('@/assets/img/feedback/arrow-link.svg'),
                alt='link'
              )

          a.feedback-footer-link(href='#', target='_blank', rel='noreferrer') 
            span.feedback-footer-link__text
              <strong>YouTube</strong> - <br/>Sumy Racing Team

            span.feedback-footer-link__label
              img(
                src=require('@/assets/img/feedback/arrow-link.svg'),
                alt='link'
              )
