-
  const socialsOffer = [
    {
      href: '#',
      label: `
        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 0C8.512 0 0 8.512 0 19C0 29.488 8.512 38 19 38C29.488 38 38 29.488 38 19C38 8.512 29.488 0 19 0ZM27.816 12.92C27.531 15.922 26.296 23.218 25.669 26.581C25.403 28.006 24.871 28.481 24.377 28.538C23.275 28.633 22.439 27.816 21.375 27.113C19.703 26.011 18.753 25.327 17.138 24.263C15.257 23.028 16.473 22.344 17.556 21.242C17.841 20.957 22.705 16.53 22.8 16.131C22.8132 16.0706 22.8114 16.0078 22.7949 15.9482C22.7783 15.8886 22.7475 15.834 22.705 15.789C22.591 15.694 22.439 15.732 22.306 15.751C22.135 15.789 19.475 17.556 14.288 21.052C13.528 21.565 12.844 21.831 12.236 21.812C11.552 21.793 10.26 21.432 9.291 21.109C8.094 20.729 7.163 20.52 7.239 19.855C7.277 19.513 7.752 19.171 8.645 18.81C14.193 16.397 17.879 14.801 19.722 14.041C25.004 11.837 26.087 11.457 26.809 11.457C26.961 11.457 27.322 11.495 27.55 11.685C27.74 11.837 27.797 12.046 27.816 12.198C27.797 12.312 27.835 12.654 27.816 12.92Z" fill="currentColor"/>
        </svg>
      `,
    },
    {
      href: '#',
      label: `
        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M28.4025 0.979046C22.21 -0.326349 15.7882 -0.326349 9.59565 0.979046L8.9284 1.11826C7.18651 1.48552 5.58668 2.30097 4.30664 3.47403C3.02659 4.64708 2.11643 6.13181 1.67728 7.76329C0.107574 13.5963 0.107574 19.7067 1.67728 25.5397C2.09608 27.0956 2.94368 28.5195 4.13414 29.6669C5.32461 30.8143 6.81562 31.6445 8.45602 32.0733L9.37126 37.226C9.40048 37.3897 9.47568 37.5429 9.58902 37.6698C9.70237 37.7967 9.84972 37.8926 10.0157 37.9476C10.1817 38.0026 10.3603 38.0146 10.5329 37.9823C10.7055 37.9501 10.8658 37.8748 10.9971 37.7643L16.3724 33.2297C20.4076 33.4619 24.4573 33.1577 28.4025 32.3258L29.0717 32.1866C30.8136 31.8193 32.4134 31.0039 33.6935 29.8308C34.9735 28.6578 35.8837 27.173 36.3228 25.5415C37.8924 19.7085 37.8924 13.5982 36.3228 7.76515C35.8835 6.13343 34.9731 4.64854 33.6927 3.47546C32.4123 2.30238 30.812 1.48707 29.0698 1.12011L28.4025 0.979046ZM11.2569 7.61294C10.8911 7.56273 10.518 7.63217 10.1999 7.8097H10.1724C9.43425 8.21805 8.76897 8.7322 8.20211 9.33731C7.72972 9.85147 7.47385 10.3712 7.40693 10.8724C7.36756 11.1693 7.39512 11.47 7.48763 11.754L7.52305 11.7726C8.05449 13.2445 8.74732 14.6608 9.59368 15.9935C10.685 17.8654 12.028 19.5966 13.5893 21.1443L13.6365 21.2074L13.7113 21.2594L13.7566 21.3095L13.8117 21.3541C15.4586 22.8309 17.2987 24.1034 19.2874 25.1406C21.5608 26.3081 22.9405 26.8594 23.7692 27.0896V27.1007C24.0113 27.1712 24.2317 27.2028 24.4542 27.2028C25.1599 27.1536 25.8278 26.8831 26.3516 26.4343C26.9913 25.8998 27.5325 25.2705 27.9537 24.5708V24.5578C28.3494 23.8524 28.2155 23.1879 27.6447 22.7369C26.4982 21.7922 25.2584 20.9531 23.9424 20.2311C23.0606 19.78 22.165 20.0529 21.8029 20.5095L21.0294 21.4302C20.6318 21.8868 19.9114 21.8237 19.9114 21.8237L19.8917 21.8348C14.5163 20.5411 13.0815 15.4088 13.0815 15.4088C13.0815 15.4088 13.0145 14.7109 13.5125 14.3545L14.4809 13.6195C14.9454 13.2631 15.2682 12.4204 14.7702 11.5888C14.0097 10.3466 13.1217 9.17782 12.119 8.09926C11.9003 7.84542 11.5936 7.67254 11.2529 7.61109L11.2569 7.61294ZM20.3385 5.38185C20.0775 5.38185 19.8272 5.47962 19.6426 5.65367C19.458 5.82772 19.3544 6.06378 19.3544 6.30992C19.3544 6.55606 19.458 6.79212 19.6426 6.96617C19.8272 7.14022 20.0775 7.238 20.3385 7.238C22.8284 7.238 24.895 8.00459 26.5307 9.47467C27.3711 10.2784 28.0266 11.2306 28.4557 12.2737C28.8867 13.3188 29.0835 14.4343 29.0324 15.5517C29.0269 15.6736 29.047 15.7953 29.0915 15.9098C29.1359 16.0244 29.2038 16.1296 29.2914 16.2194C29.4682 16.4007 29.7142 16.5084 29.9752 16.5188C30.2362 16.5291 30.4908 16.4412 30.6832 16.2745C30.8755 16.1078 30.9897 15.8758 31.0006 15.6297C31.0617 14.2552 30.8197 12.8837 30.2901 11.6018C29.7581 10.3139 28.9516 9.14263 27.9203 8.16051L27.9006 8.14195C25.8713 6.31363 23.3027 5.38185 20.3385 5.38185ZM20.2716 8.43336C20.0106 8.43336 19.7602 8.53114 19.5757 8.70519C19.3911 8.87924 19.2874 9.1153 19.2874 9.36144C19.2874 9.60758 19.3911 9.84364 19.5757 10.0177C19.7602 10.1917 20.0106 10.2895 20.2716 10.2895H20.305C22.1001 10.4102 23.407 10.9744 24.3223 11.9007C25.2611 12.8547 25.7473 14.0408 25.7099 15.5072C25.7039 15.7533 25.8018 15.9916 25.9822 16.1697C26.1625 16.3477 26.4104 16.4509 26.6714 16.4566C26.9324 16.4623 27.1851 16.3699 27.3739 16.1999C27.5627 16.0298 27.6722 15.796 27.6782 15.5499C27.7254 13.625 27.068 11.9638 25.765 10.6385V10.6348C24.4325 9.28719 22.604 8.57443 20.4034 8.43522L20.37 8.43151L20.2716 8.43336ZM20.2342 11.5424C20.1025 11.5315 19.9698 11.5456 19.844 11.5841C19.7182 11.6226 19.602 11.6846 19.5022 11.7663C19.4024 11.8481 19.3211 11.948 19.2631 12.0601C19.2052 12.1722 19.1717 12.2941 19.1649 12.4186C19.158 12.5431 19.1778 12.6677 19.2231 12.7848C19.2684 12.902 19.3382 13.0093 19.4285 13.1004C19.5187 13.1915 19.6275 13.2646 19.7484 13.3152C19.8692 13.3657 19.9996 13.3929 20.1318 13.3949C20.9546 13.4357 21.4801 13.6696 21.8108 13.9833C22.1434 14.2988 22.3914 14.8055 22.4367 15.5981C22.4391 15.7227 22.4681 15.8455 22.522 15.9592C22.5758 16.073 22.6534 16.1753 22.7501 16.2602C22.8468 16.3451 22.9606 16.4107 23.0848 16.4532C23.209 16.4957 23.3409 16.5142 23.4728 16.5076C23.6047 16.501 23.7339 16.4694 23.8526 16.4148C23.9713 16.3601 24.0771 16.2835 24.1637 16.1894C24.2503 16.0954 24.3159 15.9858 24.3567 15.8673C24.3975 15.7488 24.4126 15.6238 24.401 15.4997C24.338 14.3861 23.968 13.4023 23.2102 12.6784C22.4485 11.9545 21.4112 11.6018 20.2342 11.5424Z" fill="currentColor"/>
        </svg>
      `,
    },
  ];

section.offer
  ._container
    .offer__wrapper
      .offer__main
        .offer__image.mobile
          img(src=require('@/assets/img/offer/car-mobile.png'), alt='car')

        h2.offer__title
          span щоденні
          span пропозиції авто
          span з США

        .offer__additional
          p.offer__subtitle отримуйте <br/>вигідні пропозиції

          p.offer__description Публікуємо тільки актуальні автомобілі з розрахунком вартості в Україні.

          .offer-socials
            p.offer-socials__title Приєднуйтеся до нас!

            ul.offer-socials__list
              each item in socialsOffer
                li
                  a.offer-socials__link(href=`${item.href}`)!= item.label

        .offer__image.desktop
          img(
            src=require('@/assets/img/offer/car.png'),
            alt='car',
            loading='lazy'
          )

      .offer-media
        .offer-media__img
          img(
            src=require('@/assets/img/offer/phone.png'),
            alt='media',
            loading='lazy'
          )
