-
  const typesDarkArray = [
    {
      text: 'sedan',
      image: '@/assets/img/types-dark/car-1.png'
    },
    {
      text: 'wagon',
      image: '@/assets/img/types-dark/car-2.png'
    },
    {
      text: 'hatchback',
      image: '@/assets/img/types-dark/car-3.png'
    },
    {
      text: 'crossover',
      image: '@/assets/img/types-dark/car-4.png'
    },
  ];

section.types.dark
  ._container
    .types__wrapper
      button.button-empty.types__button.mobile.popup-open(
        data-popup='_popup-form'
      )
        span до наступного кроку

      .types-slider.resize-text-container.swiper
        .swiper-wrapper
          each item in typesDarkArray
            .swiper-slide
              .types-slider__item
                p.types-slider__text= item.text

                .types-slider__img
                  img(src=require(`${item.image}`), alt=`${item.text}`)

      .types__main
        h2.types__title
          span який
          span тип кузова
          span розглядаєте?

        ul.types-list.swipe-to-container
          li
            button.types-list__button.swipe-to-button.active Седан
          li
            button.types-list__button.swipe-to-button універсал
          li
            button.types-list__button.swipe-to-button хетчбек
          li
            button.types-list__button.swipe-to-button кросовер

        button.button-empty.types__button.desktop.popup-open(
          data-popup='_popup-form'
        )
          span до наступного кроку
