-
  const actionFormArray = [
    {
      title: `
        <span>КОЛИ ВИ БАЖАЄТЕ</span>
        <span>ПРИДБАТИ</span>
        <span>АВТО?</span>
      `,
      subtitle: '',
      radio: {
        name: 'term',
        list: [
          {
            value: 'найближчим часом',
            isChecked: 'true'
          },
          {
            value: 'В наступні 3 місяці',
            isChecked: 'false'
          },
          {
            value: 'цього року',
            isChecked: 'false'
          },
        ],
      },
      button: {
        isSumbit: 'false',
        value: 'до наступного кроку',
      },
    },
    {
      title: `
        <span>ЯКИЙ</span>
        <span>БЮДЖЕТ</span>
        <span>НА АВТО?</span>
      `,
      subtitle: '',
      radio: {
        name: 'budget',
        list: [
          {
            value: 'до 10 000$',
            isChecked: 'false'
          },
          {
            value: '11 000$ - 20 000$',
            isChecked: 'true'
          },
          {
            value: '21 000$ +',
            isChecked: 'false'
          },
        ],
      },
      button: {
        isSumbit: 'false',
        value: 'до наступного кроку',
      },
    },
    {
      title: `
        <span>ОСТАННІЙ</span>
        <span></span>
        <span>крок</span>
      `,
      subtitle: 'Залиште заявку, і наш експерт підбере для вас вигідне авто із США',
      radio: {
        name: '',
        list: [],
      },
      button: {
        isSumbit: 'true',
        value: 'Зв\'яжіться зі мною',
      },
    },
  ];

.action-popup
  form#form-popup.form.hidden.action-popup__form(action='post') 
    input#popup-type(type='text', name='type')
    input#popup-term(type='text', name='term')
    input#popup-budget(type='text', name='budget')
    input#popup-name(type='text', name='name')
    input#popup-telephone(type='tel', name='telephone')

    input#form-popup-submit(type='submit')

  .action-popup__content
    .action-popup-media.resize-text-container
      .action-popup-media__text hatchback

      .action-popup-media__img
        img(src=require('@/assets/img/types-white/car-1.png'), alt='hatchback')

    .action-popup-slider.swiper
      .swiper-wrapper
        each item, activeIndex in actionFormArray
          .swiper-slide
            .action-popup__item
              p.action-popup__title!= item.title

              if item.subtitle
                p.action-popup__subtitle!= item.subtitle

              if item.radio.name
                .action-popup-list
                  each element, index in item.radio.list
                    label.action-popup-list__item(
                      for=`${item.radio.name}-${index + 1}`
                    ) 
                      if element.isChecked === 'true'
                        input(
                          id=`${item.radio.name}-${index + 1}`,
                          type='radio',
                          name=`${item.radio.name}`,
                          value=`${element.value}`,
                          checked
                        )

                        .action-popup-list__item__inner
                          p= element.value

                      else
                        input(
                          id=`${item.radio.name}-${index + 1}`,
                          type='radio',
                          name=`${item.radio.name}`,
                          value=`${element.value}`
                        )

                        .action-popup-list__item__inner
                          p= element.value

              else
                .action-popup-last
                  input#action-popup-last__name.action-popup-last__input(
                    type='text',
                    name='name',
                    required,
                    placeholder='Ім\'я*'
                  )

                  input#action-popup-last__telephone.action-popup-last__input(
                    type='tel',
                    name='telephone',
                    required,
                    placeholder='+ 380 (00) 000 00 00'
                  )

              .action-popup-steps
                .action-popup-steps__item.active

                each slide, slideIndex in actionFormArray
                  .action-popup-steps__item(
                    class=`${slideIndex <= activeIndex ? 'active' : ''}`
                  )

                //- class=`${item.button.isSumbit === 'true' ? 'popup__button' : ''}`,
              if item.button.isSumbit === 'true'
                label.locked.action-popup__button.button-filled(
                  for='form-popup-submit',
                  data-action='submit'
                )
                  span= item.button.value
              else
                button.action-popup__button.button-filled(
                  data-action='next-step'
                )
                  span= item.button.value
    //- .action-popup__main
